<div class="modal-backdrop" *ngIf="showpasswordmodal">
  <div class="modal">
    <!-- Modal Header -->
    <div class="modal-header">
      <h2>Change Password</h2>
      <i class="bx bx-x close-icon" (click)="onCancel()"></i>
    </div>

    <!-- Modal Content -->
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="modal-content">
  <label>Current Password</label>
  <input type="password" formControlName="currentPassword" />
  <div *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched">
    Current password is required.
  </div>

  <label>New Password</label>
  <input type="password" formControlName="password" />
  <div *ngIf="passwordForm.get('password')?.hasError('weakPassword')">
    Must contain an uppercase letter and a special character.
  </div>

  <label>Confirm New Password</label>
  <input type="password" formControlName="confirmpassword" />
  <div *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmpassword')?.touched">
    Passwords do not match.
  </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
      <button class="cancel-btn" (click)="onSubmit()">Cancel</button>
    <button class="save-btn" type="submit" [disabled]="passwordForm.invalid">Save</button>
    </div>
    </form>

  </div>
</div>
