<app-navbar></app-navbar>
<div class="main">
    <div class="header spacer">
        <div style="display:flex;flex-direction:column;gap: 10px;">
        <h1 style="margin:0;">Documents</h1>
        <h5 style="margin: 0;margin-bottom: 25px;">Last login: {{ currentUser?.lastloginAt| date:'medium'}}</h5>
        </div>
        @if(currentUser !=null){
            <button matButton="tonal" (click)="handleUpload()"> 
                <mat-icon>cloud_upload</mat-icon>
                Upload 
            </button>

        }

    </div>

    <div class="controls">

        <div class="mat-form-field">
            <mat-form-field class="createdbyuser-input">
                <mat-label>Filter by Created User</mat-label>
                <input type="text"
                placeholder=""
                matInput
                [formControl]="myControl"
                [(ngModel)]="documentSearch.searchByCreatedUserEmail"
                (ngModelChange)="onValueChange()"
                [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option.value">{{option.view}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="mat-form-field">
            <mat-form-field class="datepicker">
                <mat-label>Filter by Uploaded Date</mat-label>
                <input 
                    matInput 
                    [matDatepicker]="picker" 
                    [(ngModel)]="documentSearch.searchByCreatedTime" 
                    (ngModelChange)="onDateChange($event)"
                    placeholder="MM/DD/YYYY">
                <!-- <mat-hint></mat-hint> -->
                 @if(documentSearch.searchByCreatedTime){
                     <button
                        matSuffix
                        matIconButton
                        (click)="clearDate()">
                        <mat-icon>close</mat-icon>
                    </button>
                 }
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="mat-form-field">
            
            <mat-form-field>
                <mat-label>Sort By</mat-label>
                <mat-select [(ngModel)]="documentSearch.SortBy" (ngModelChange)="onValueChange()">
                    @for (sortBy of sortByList; track $index) {
                        <mat-option [value]=" sortBy.value">{{sortBy.view}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        
        <mat-button-toggle-group name="sortOrder" aria-label="Font Style" [(ngModel)]="documentSearch.SortOrder" (ngModelChange)="onValueChange()">
            <mat-button-toggle value="ascending">Asc</mat-button-toggle>
            <mat-button-toggle value="descending">Desc</mat-button-toggle>
        </mat-button-toggle-group>
        
        <div class="mat-form-field">
            <mat-form-field class="search-input">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search" [(ngModel)]="documentSearch.searchByOriginalFileName" (ngModelChange)="onValueChange()">
            </mat-form-field>
        </div>
    </div>

    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        @for (tab of tabs; track tab) {
            <a mat-tab-link
            (click)="setTab(tab)"
            [active]="activeTab() == tab"> {{tab}} </a>
        }
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  
    <div class="content">
        @if (documents.length>0) {
            <div class="documents">
            @for (doc of documents; track $index) {
                <mat-card class="card"  [style]="doc.isDeleted ? 'background-color:#f17676': ''">
                    <mat-card-header>
                        <mat-card-title>{{doc.originalFileName}}</mat-card-title>
                        <mat-card-subtitle>{{doc.id}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        @if(doc.description!=null){
                            <p>Description : <strong>{{doc.description}}</strong></p>
                        }
                        <p>Team : <strong> {{doc.teamName}} ({{doc.teamId}})</strong></p>
                        <p>Visibility : <strong>{{doc.visibility}}</strong></p>
                        <p>Created By <strong>{{doc.createdByUserName}} ({{doc.createdByUserEmail}})</strong></p>
                        <p> Created at <strong>{{doc.createdAt | date:'medium'}} </strong></p>
                        <!-- @if (currentUser?.role == "Admin" ) { -->
                            <p>Last Updated By <strong>{{doc.lastUpdatedByUserName}} ({{doc.lastUpdatedByUserEmail}})</strong></p>
                            <p>Last Updated at <strong>{{doc.lastUpdatedAt | date:'medium'}} </strong></p>
                        <!-- } -->
                        <hr>
                    </mat-card-content>
                    <mat-card-actions>
                        @if(doc.visibility!="Archived"){
                        <button matButton="tonal" (click)="onDownload(doc)">
                            <mat-icon>download</mat-icon> 
                            Download
                        </button>
                    }
                        @if ((currentUser?.role == "Admin" || currentUser?.id == doc.createdByUserId) && !doc.isDeleted && doc.visibility!="Archived") {
                            <button matButton='tonal' (click)="handleEdit(doc)">
                                <mat-icon>edit</mat-icon>
                                Edit
                            </button>
                            <button matButton='tonal' (click)="openDeleteDialog(`${doc.originalFileName} (${doc.id})`,doc.id)">
                                <mat-icon>delete</mat-icon>
                                Delete
                            </button>
                        }
                        @if (currentUser?.role == "Admin"  && !doc.isDeleted && doc.visibility=="Archived" && !doc.isAcessRequested){
                        <button matButton='tonal' (click)="unarchive(doc)">
                            <mat-icon>unarchive</mat-icon>
                            Restore
                       </button>

                    }
                    @if (!doc.isDeleted && doc.visibility == "Archived") {
    
                            @if (currentUser?.role != "Admin" && currentUser?.id == doc.createdByUserId && !doc.isAcessRequested) {
                                <button matButton='tonal' (click)="RequestDocument(doc)">
                                    Request Access
                                </button>
                            }

                            @if ((currentUser?.role == "Admin" || currentUser?.id == doc.createdByUserId) && doc.isAcessRequested) {
                                <button matButton='tonal' (click)="openStatusView(doc.id)">
                                    View Request Status
                                </button>
                            }

                        }

 
                    
                    

                    </mat-card-actions>
                    <mat-card-actions>
                    @if (currentUser?.role == "Admin"  && !doc.isDeleted && doc.visibility=="Private"){
                        <button matButton='tonal' (click)="archive(doc)">
                            <mat-icon>archive</mat-icon>
                            archive

                        </button>

                    }
                    </mat-card-actions>
                </mat-card> 
            }
            </div>
            <mat-paginator 
              class="mat-paginator"
              (page)="handlePageEvent($event)"
              [length]="total"
              [pageIndex]="documentSearch.pageNo==null? 0 : documentSearch.pageNo-1"
              [pageSize]="documentSearch.pageSize"
              [pageSizeOptions]="[6, 12, 18, 24,30,50,100]"
              aria-label="Select page">
            </mat-paginator>
        }
        @else {
            <div class="error-loading">
                <mat-spinner></mat-spinner>
                @if(errorMessage != null){
                    {{errorMessage}}
                }
            </div>
        }
    </div>
</div>
<app-requestdetail *ngIf="showStatusOverlay" [documentId]="selectedId" (close)="closeOverlay()"></app-requestdetail>