body, html {
  width: 100%;
    margin: 0; /* Remove default margins */

}
.product h2{
    justify-self: center;
    font-size: 30px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-template-rows: auto;

  gap: 1.5rem;
  padding: 1rem;
    justify-content: center;
    max-width: 1200px;
    width: 100%;

  margin: 0 auto;

}

.product-card {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-image {
  width: 100%;
  height: 300px;
  display: block;
}

.product-details {
  padding: 1rem;
}

.product-name {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.product-price {
  margin-bottom: 1rem;
  color: #6c757d;
}

.add-to-cart-btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #0b5ed7;
}

.cart-icon-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  text-align: center;
    font-size: 1.5rem;


}

.cart-icon-container i{
  font-size: 1.5rem;
}

.cart-badge {
  position: absolute;
  font-weight: 600;
  font-size: 1rem;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: auto;
  color: black;
  border-radius: 40%;
  padding: 0.25em 0.4em;
}