<div class="div-container">
  <div class="div-header">Shopping Online - Get Reward</div>
<div class="clear"></div>


  <div class="div-topmenu">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/categories">Category</a></li>

      <li><a routerLink="/news">News</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
      <li><a routerLink="/colors">Manage Color</a></li>
      <li><a routerLink="/news-management">News Management</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li><a routerLink="/order">Order</a></li>
    </ul>
  </div>
    <div class="clear"></div>
<div class="div_main_wrapper">
  <div class="div-left">
    <div class="category-title">Category</div>
    <div class="category-list">
      <app-category></app-category>
    </div>
  </div>

  <div class="div-main">
    <div class="top-breadcrumb">
      <ul>
        <li><a href="#">Home</a><span class="span-breadcrumb">>></span></li>
        <li><a href="#">Product</a></li>
      </ul>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    </div>
    <div class="clear"></div>

    
  </div>
        <div class="clear"></div>

  <div class="div-footer">
    <p>Copyright © {{ currentYear }} by Chien Vu Hoang. All rights reserved.</p>
    <p>Email: <a href="mailto:chien.vh@gmail.com">ChienVH</a></p>
    <p>Facebook: <a href="https://facebook.com/chienvh">facebook.com/chienvh</a></p>
  </div>
</div>
